@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro";
  overflow: hidden;
}

.container {
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container-box {
  max-width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}

.slider-box {
  width: 100%;
  height: 100%;
  background-color: #00cdde;
  display: flex;
  box-sizing: border-box;
  padding: 15px;
}

.slider {
  width: 100%;
  height: 100%;
  border: 5px solid #ffffff;
  box-sizing: border-box;
  position: relative;
}

.swiper-slide {
  flex-shrink: 1;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0 20px;
}

.gamburger {
  width: 36px;
  height: 36px;
}

.gamburger img {
  max-width: 100%;
}

.nav-menu-item {
  z-index: 2000;
}

.nav-menu-item ul {
  padding: 0;
  display: flex;
  list-style: none;
  margin-top: 6px;
}

.nav-menu-item ul li {
  position: relative;
}

.nav-menu-item ul li:nth-child(odd) {
  margin: 0 49px;
}

.nav-menu-item ul li:last-child {
  margin-right: 0;
}

.nav-menu-item ul li a {
  color: #ffffff;
  text-decoration: none;
  font-family: system-ui;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  line-height: 10.1px;
}

.red-point {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -18px;
  right: -5px;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: #00cdde;
}

.nav-menu-item ul li:hover .red-point {
  opacity: 1;
  transition: all 0.7s ease-in;
}

.red-point div {
  width: 13px;
  height: 13px;
  background-color: #fe5803;
  border-radius: 50%;
}

.nav-menu-item ul li a:hover {
  text-transform: uppercase;
  padding: 10px 15px 10px 15px;
  font-family: "Source Code Pro - Regular";
  font-size: 16px;
  border: 4px solid #ffffff;
  transition: border, 0.6s ease-in-out;
}

.next-block {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 25px;
  display: flex;
  background-color: #00cdde;
}

.delta {
  border-radius: 10px;
  position: relative;
  color: #fff;
}

.delta::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: -4px;
  border: 10px solid transparent;
  border-top: 10px solid #fc17aa;
}

.slider h1 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  font-weight: 900;
  line-height: 58px;
  margin-bottom: 9px;
}

.slider h1 span {
  color: #f24444;
}
.next-block.red {
  background-color: #f24444;
}

.next-block.yellow {
  background-color: #ffb208;
}

.red-point.blue {
  background-color: transparent;
}

.animation1.blue.slide3 {
  transform: translate(58%, -60%);
  width: 500px;
}

.animation2.blue.slide3 {
  transform: translate(-23%, -67%);
}

.red-point.blue div {
  background-color: #00cdde;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  cursor: pointer;
}
.swiper-pagination-bullet:nth-child(2) {
  margin: 0 3px;
}

.slider-text.blue h1 span {
  color: #0044fb;
}

.slider-text.blue h1 {
  margin-top: 65px;
}

.animation1.blue {
  top: 0%;
  width: 600px;
  max-width: 100%;
  z-index: 200;
  position: absolute;
  left: 46%;
  transform: translate(7%, -46%);
}

.animation2.blue {
  top: 0%;
  width: 600px;
  max-width: 100%;
  z-index: 100;
  position: absolute;
  left: 85%;  
  transform: translate(-17%, -73%);
}

.slider-text {
  display: flex;
  flex-direction: column;
  margin-left: 74px;
}
.line-block.blue {
  background-color: #0044fb;
}

.slider-box.red {
  background-color: #f24444;
}

.slider-box.yellow {
  background-color: #ffb208;
}

.delta.blue::after {
  border-top: 10px solid #00cdde;
}

.line-block {
  width: 40px;
  height: 4px;
  background-color: #f24444;
}

.save-all {
  color: #ffffff;
  font-family: "Montserrat - Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 10px;
}

.save-all.blue span {
  color: #0044fb;
}

.container-link a {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.links {
  display: flex;
}

.container-link {
  border: 1px solid #ffffff;
  width: 160px;
  height: 61px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.container-link:last-child {
  margin-left: 20px;
}

.container-link p {
  color: #ffffff;
  font-size: 10px;
  font-family: system-ui;
  padding-left: 5px;
  font-weight: 300;
  line-height: 17.1px;
  margin-left: 5px;
}

.container-link p span {
  font-size: 12px;
  font-family: "Montserrat sans-serif";
  font-weight: bold;
  letter-spacing: 0.42px;
  line-height: 15.1px;
}

.slider-img-animation {
  width: 600px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(11%, 40%);
}
.slider-img-animation img {
  max-width: 100%;
}

.slider-img-animation .animation1.first {
  max-width: 100%;
  z-index: 1000;
}

.slider-img-animation .animation2.first {
  max-width: 100%;
  z-index: 100;
  position: absolute;
  bottom: -39%;
  left: 48%;
}

.swiper-pagination {
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}
